---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: iskra, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #002534;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// WIREFRAME COLOR PALETTE
// $black: #000000;
// $dkgrey: #333436;
// $mdgrey: #67686C;
// $ltgrey: #9A9CA1;


// V1 COLOR PALETTE
// $color1: #031436;
// $color2: #1FB5F3;
// $color3: #A5E1FA;
// $color4: #EDCB3A;
// $color5: #CDD0D7;
// $color6: #F5F6F7;

// //V2 COLOR PALETTE
// $color1: #002534;
// $color2: #0093D1;
// $color3: #99A8AE;
// $color4: #CEC13E;
// $color5: #6B1651;
// $color6: #CCE9F6;
// $color7: #D6DCDF; 


