@media screen and (min-width: 1000px) {
	.page {
		margin: 0 auto;
	}

	.work-container {
		overflow: hidden;
		max-width: 1200px;
	}

	.portfolio-image {
		float: left;
		width: 45%;

		&:nth-child(even) {
			margin-left: 10%;
		}
	}

	//PROJECT PAGES
	#project {
		article {
			max-width: 800px;
			margin: 0 auto;
		}
	}

	.project-deats-container {
		max-width: 800px;
		margin: 0 auto;
		overflow: hidden;
	}

	.preview, .project-deats {
		width: 47%;
		float: left;
	}

	.preview {
		margin-left: 6%;
	}

}