@media screen and (min-width: 1000px) {
	.page {
		margin: 0 auto;
	}

	.work-container {
		max-width: 1200px;
	}

	//PROJECT PAGES
	#project {
		article {
			max-width: 800px;
			margin: 0 auto;
		}
	}
} //end of media query