@media screen and (min-width: 720px) {

	.page {
		overflow: hidden;
		max-width: 1200px;
	}

	.portfolio-image, .blog-content {
		max-width: 500px;
		margin: 1.8em auto;
	}

	footer {

		.col1, .col2, .col3 {
			width: 50%;
			float: left;
			padding: 1em;
		}
	}

} //end of media query
