@media screen and (min-width: 560px) {

	.work-container {
		max-width: 800px;
		margin: 0 auto;
		margin-bottom: 45px;
	}

	.portfolio-image {
		min-height: 400px;
	}

	.work-buttons {
		max-width: 400px;
		margin: 0 auto;
	}

	.this-that {
		width: 50%;
		float: left;
	}
} //end of media query

@media screen and (min-width: 720px) {

	.page {
		overflow: hidden;
		max-width: 1200px;
	}

	.blog-content {
		float: left;
		width: 45%;
		min-height: 380px;

		&:nth-child(even) {
			margin-left: 10%;
		}
	}

	.more-container {
		overflow: hidden;
		max-width: 800px;
		margin: 0 auto;

		.more-about, .connect {
			width: 47%;
		}

		.more-about {
			float: left;
		}

		.connect {
			margin-left: 6%;
			float: right;
		}
	}

	footer {

		.col1, .col2, .col3 {
			width: 50%;
			float: left;
			padding: 1em;
		}
	}

} //end of media query

@media screen and (min-width: 785px) {
	.small {
		float: left;
	}

	.medium {
		float: right;
		margin-top: 35px;
	}
}