---
layout: default
---

<div id="project" class="post">

	<article>
		<div class="project-deats">
			<h2>{{ page.project }}</h2>
			<h5>{{ page.date }}</h5>

			{% if page.technologies %}
			<h5>Technologies & Tools</h5> <p>{{ page.technologies }}</p>
			{% endif %}

		</div>

		{{ content }}

		<button class="back">
			<a href="/work/vineya/">Back to Vineya</a>
		</button>

<!-- 		{% if page.previous & page.next %}
			<button class="back">
				<a href="{{ page.previous }}">{{ page.previous_title }}</a>
			</button>
			<button class="next">
				<a href="{{ page.next }}">{{ page.next_title }}</a>
			</button>
		{% elsif page.next %}
			<button class="back">
				<a href="/work/vineya/">Back to Vineya</a>
			</button>
			<button class="next">
				<a href="{{ page.next }}">{{ page.next_title }}</a>
			</button>
		{% else %}
			<button class="back">
				<a href="/work/vineya/">Back to Vineya</a>
			</button>
		{% endif %} -->

	</article>

</div>